<!DOCTYPE html>
<html lang="en">
<%- include ("./includes/head.ejs") %>
<body>
    <!-- Nav-->
    <%- include("./includes/nav.ejs")%>

    <!-- Header-->
    <%- include("./includes/header.ejs") %>

    <!-- About & Services-->
    <%- include("./includes/Article1.ejs") %>

    <!-- Contact & Social Media-->
    <%- include("./includes/Article2.ejs") %>

    <!-- Contact & Social Media-->
    <%- include("./includes/footer.ejs") %>

</body>
</html>